# Environment Variables
ACTIVE_PROFILE=dev

# Database
POSTGRES_URL=jdbc:postgresql://localhost:5432/portfolio
POSTGRES_USER=username
POSTGRES_PASSWORD=password

# Brevo
BREVO_API_KEY=api_key_here
CONTACT_TO_EMAIL=you@yourdomain.com
CONTACT_FROM_EMAIL=verified-sender@yourdomain.com
CONTACT_FROM_NAME=your_name